[Unit]
Description=Hestia nginx - administration web server
Documentation=https://www.hestiacp.com
PartOf=hestia.service
After=hestia-php.service

[Service]
Type=forking
EnvironmentFile=/etc/hestiacp/hestia.conf
PIDFile=/run/hestia-nginx.pid
ExecStart=/usr/sbin/nginx -c $HESTIA/src/rpm/nginx/nginx.conf
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /run/hestia-nginx.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /run/hestia-nginx.pid)"

[Install]
WantedBy=hestia.service
