[Unit]
Description=Hestia PHP daemon
Documentation=https://www.hestiacp.com
PartOf=hestia.service

[Service]
Type=notify
PIDFile=/run/hestia-php.pid
EnvironmentFile=/etc/hestiacp/hestia.conf
ExecStart=/usr/sbin/php-fpm --nodaemonize --fpm-config $HESTIA/install/rpm/hestia/hestia-php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=hestia.service
